$clr-primary: #037f2f;
$clr-primary-light-1: #0db04b;
$clr-primary-light-2: #8bc53f;

$clr-accent: #ffa51e;
$clr-black: #000;
$clr-grey: #333333;
$clr-grey-2: #1c1b1f;
$clr-white: #fff;
$clr-light-grey: #c8c8c8;
$clr-light-grey-2: #d9d9d9;
