.header-top {
  padding: 0.3rem 0;
  background-color: $clr-primary-light-1;
  color: $clr-white;
  font-size: 1.4rem;

  & .inner {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: $clr-white;
    font-size: 1.4rem;
  }
}

.header-searchbar {
  padding: 3px 0;

  &__signin {
    span {
      @include respondMax(1199px) {
        display: none;
      }
    }
    img {
      @include respondMin(1200px) {
        display: none;
      }
    }
  }

  &__cart {
    position: relative;

    & span {
      position: absolute;
      top: -5px;
      left: 50%;
      width: 17px;
      height: 17px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $clr-primary-light-2;
      font-size: 9px;
      font-weight: bold;
      color: $clr-white;
    }
  }
  .links {
    &,
    &:hover,
    &:active,
    &:visited {
      color: $clr-grey !important;
    }
  }
}

.header-menu {
  padding: 3px 0;
  background-color: $clr-grey;
  color: $clr-white;
  ul,
  li,
  a {
    color: $clr-white;
  }

  &__main {
    display: flex;
    & > :not(:last-child) {
      margin-right: 4.4rem;
      @include respondMax(420px) {
        margin-right: 2rem;
      }
    }
  }
  &__toggler {
    margin-right: 4px;
  }
  &__has-sub {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__sub {
    z-index: 9;
    position: absolute;
    display: inline-block;
    top: calc(100% + 3px);
    left: 0;
    min-width: 100%;
    padding: 3px 7px;
    border-radius: 0 0 1rem 1rem;
    background-color: $clr-grey;
    font-size: 1.8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    & li {
      padding: 3px;
    }
  }
}
