.fbtn {
  font-size: 1.8rem;

  &--subscribe {
    padding: 0.7rem 0.7rem 0.8rem;
    border-radius: 1.2rem;
    font-weight: bold;
    background-color: $clr-primary-light-2;
    color: $clr-white;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: darken($clr-primary-light-2, 5%);
    }
    @include respondMax(991px) {
      display: none;
    }
  }

  &:visited,
  &:hover,
  &:active {
    color: $clr-white;
  }
}

.fbtn-main {
  padding: 0.9rem 3.8rem;
  border-radius: 3.2rem;
  font-size: 4.4rem;
  font-weight: 700;
  background-color: $clr-primary-light-2;
  color: $clr-white;

  &:visited,
  &:hover,
  &:active {
    color: $clr-white;
  }

  @include respondMax(1366px) {
    padding: 0.5rem 3rem;
    font-size: 4rem;
  }
}
