.search-form {
  font-size: 1.8rem;
  width: 65rem;
  @include respondMax(767px) {
    width: 50rem;
  }
  @include respondMax(576px) {
    width: 40rem;
  }
  @include respondMax(420px) {
    width: 30rem;
  }
  // @include respondMax(360px) {
  //   width: 25rem;
  // }
  &__btn {
    @include flexCenter;
    background-color: $clr-primary;
    padding: 0.7rem 1.4rem 0.8rem 1.1rem;
    border: 2px solid $clr-primary-light-2;
    border-radius: 0.8rem;
    color: $clr-white;

    @include respondMax(420px) {
      display: none;
    }
    .dropdown-menu {
      display: none;
    }
    &::after {
      display: none;
      margin-right: 5px;
    }
  }
  &__input {
    border: 2px solid $clr-primary-light-2;
    border-right: none;
    transition: all 0.2s ease-in;
    flex: 1 1;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $clr-primary-light-1;
    }
    &::placeholder {
      font-size: 1.8rem;
      color: $clr-light-grey;
      padding: 7px 7px 2.2rem;
    }
    @include respondMax(420px) {
      border-top-left-radius: 0.8rem !important;
      border-bottom-left-radius: 0.8rem !important;
    }
  }
  &__search {
    @include flexCenter;
    padding: 10px 18px;
    background-color: $clr-primary-light-2;
    border: none;
    border-radius: 0 0.8rem 0.8rem 0;
    outline: none;
    box-shadow: none;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: darken($clr-primary-light-2, 5%);
    }
  }
}
