.product {
  border-radius: 2.4rem;
  position: relative;
  max-width: 31.2rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

  @include respondMax(1024px) {
    width: 30rem;
  }
  @include respondMax(768px) {
    // width: 25rem;
  }
  @include respondMax(576px) {
    // width: rem;
  }

  &__img {
    max-width: 100%;
  }
  &__info {
    padding: 3px 2.4rem 2rem 2.4rem;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  &__cat {
    margin-bottom: 1.3rem;
    text-align: center;
    font-size: 1.4rem;

    @include respondMax(576px) {
      margin-bottom: 7px;
    }
  }
  &__weight {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    @include respondMax(767px) {
      margin-bottom: 2.5rem;
    }
    @include respondMax(576px) {
      margin-bottom: 30px;
    }
  }
  &__price-count {
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // justify-content: space-between;
    // gap: 10px;
  }
  &__count-container {
    position: relative;

    background-color: $clr-grey;
    max-width: 100%;
    max-width: 11.4rem;
    height: 32px;
    border-radius: 2.4rem;
    background-color: $clr-grey;

    @include respondMax(767px) {
      max-width: 8rem;
      height: 20px;
    }
  }
  &__count {
    width: 100%;
    padding: 3px 0 2px;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1.8rem;
    text-align: center;
    color: $clr-white;
    background-color: $clr-grey;
    border-radius: 2.4rem;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }

    @include respondMax(767px) {
      height: 20px;
      font-size: 15px;
    }
  }
  &__add,
  &__remove {
    position: absolute;
    top: 0;
    z-index: 9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $clr-primary-light-2;
    font-size: 2.4rem;
    color: $clr-grey-2;
    transition: all 0.2s ease-in;

    @include respondMax(768px) {
      width: 20px;
      height: 20px;
      font-size: 15px;
    }

    &:hover {
      background-color: darken($clr-primary-light-2, 5%);
    }
  }
  &__add {
    right: 0;
  }
  &__remove {
    left: 0;
  }
  &__equal-icon {
    margin: 0 1.8rem;
  }
  &__price-container {
    position: relative;
    text-align: center;
  }
  &__price-original {
    position: absolute;
    bottom: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-decoration: line-through;
    text-align: center;
    @include respondMax(768px) {
      font-size: 14px;
    }
    // display: none;
  }
  &__price-current {
    font-size: 1.8rem;
    font-weight: bold;
    @include respondMax(768px) {
      font-size: 14px;
    }
  }
  &__cta {
    margin-top: 2rem;
    width: 100%;
    @include respondMax(768px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  &__add-btn,
  &__buy-btn {
    @include flexCenter;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in;
  }
  &__add-btn {
    background-color: $clr-primary-light-2;
    padding: 5px 2.2rem 6px;
    &:hover,
    &:active,
    &:visited {
      color: $clr-white;
    }
    &:hover {
      background-color: darken($clr-primary-light-2, 5%);
    }
  }
  &__buy-btn {
    background-color: $clr-accent;
    padding: 5px 3.1rem 6px 3.2rem;
    &:hover,
    &:active,
    &:visited {
      color: $clr-white;
    }
    &:hover {
      background-color: darken($clr-accent, 5%);
    }
  }
  &__discount {
    position: absolute;
    top: 4.1rem;
    left: 0;
    height: 32px;
    display: inline-flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 0 12px 12px 0;
    background-color: $clr-primary;
    font-size: 1.8rem;
    font-weight: bold;
    color: $clr-white;
  }
  &__hotel-class {
    position: absolute;
    top: 4.1rem;
    right: 0;
    height: 32px;
    display: inline-flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 12px 0 0 12px;
    background-color: $clr-primary;

    &--starred {
      & svg path {
        fill: $clr-accent;
      }
    }
  }
  &--featured {
    background-color: $clr-primary;
    .product {
      &__name,
      &__cat,
      &__weight,
      &__price-container {
        color: $clr-white;
      }
    }
  }
}
