*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respondMax(768px) {
    // font-size: 55%;
  }

  @include respondMax(420px) {
    font-size: 50%; //8px
  }
  @include respondMax(360px) {
    font-size: 45%; //8px
  }
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
